.bodystyle
{
	background-color: black;
	
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 50px;
	
	color: gray;
	font-family: segoe UI, arial, helvetica, sans-serif;
	font-size: small;
}

.download_table
{
	padding-top: 50px;
	padding-bottom: 50px;
}

p
{
	margin-left: 15%;
	margin-right: 15%;
}

#footer
{
	margin-right: 15%;
	margin-top: 10%;
}