// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sound-container {
  background-color:#ccc;
  padding:10px;
  border-radius:.3em;
}